{% load apps_player %}
{% load apps_enemy %}
{% load apps_game %}
{% load staticfiles i18n %}

<h1>{{ player_adventure.adventure.title }}</h1>

<p>
  {% if player_adventure.adventure.image_path %}
    <span class="pull-right">
      <img src="{% adventure_image player_adventure.adventure %}">
    </span>
  {% endif %}
  {{ player_adventure.adventure.adventure_text }}
</p>

<br><br>
<div class="game-actions">
  {% for choice in player_adventure.adventure.choices.all %}
    <a class="btn btn-primary btn-game-action"
       href="{% url "game:choice" choice.pk %}">{{ choice.option_text }}</a>
  {% endfor %}
</div>
