{% extends "base.html" %}
{% load apps_player %}
{% load apps_npc %}
{% load apps_game %}
{% load staticfiles i18n %}

{% block content %}
      <div class="row">
        <div class="col-md-3">
          {% mini_profile request.user %}
        </div>

        <div class="col-md-8">
          <div class="page-header">
            <h1><i class="text-info mdi {{ location.icon }}"></i> Enter Cheatcode</h1>
          </div>
          {% show_messages player %}

          <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group form-group-sm">
              <div class="input-group">
                {{ form.code }}
                <span class="input-group-btn">
                  <input class="btn btn-primary btn-sm" type="submit">Enter</input>
                </span>

              </div>
            </div>
          </form>

        </div>
    </div>

{% endblock content %}
