{% extends "base.html" %}
{% load apps_player %}
{% load apps_enemy %}
{% load apps_game %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
      {% mini_profile request.user %}
    </div>
    <div class="col-md-9">
      <div class="row">
        {% show_messages player %}

        {% for location in locations %}
        <div class="col-lg-4">
          {% include "location/_mapcard.html" %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
