{% extends "base.html" %}
{% load apps_player %}
{% load apps_enemy %}
{% load apps_game %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
      {% mini_profile request.user %}
    </div>

    <div class="col-md-6">
      {% show_messages player %}

      {% for location in locations %}
        <div>
          <h3 class="">
            <i class="text-info mdi {{ location.icon }}"></i>
            {{ location.name }}
          </h3>
          <p>{{ location.description }}</p>
            <a href="{% url "location:visit" location.pk %}" class="btn btn-primary btn-sm">Visit</a>
        </div>
      {% endfor %}

    </div>
  </div>
{% endblock content %}
