{% extends "base.html" %}
{% load apps_player %}
{% load apps_enemy %}
{% load apps_game %}
{% load staticfiles i18n %}

{% block content %}
      <div class="row">
        <div class="col-md-3">
          {% mini_profile request.user %}
        </div>

        <div class="col-md-6">
          <div class="page-header">
            <h1><i class="text-info mdi {{ location.icon }}"></i>{{ location.name }}</h1>
          </div>
          {% show_messages player %}

          {% if player.status == 'c' %}
            {% include "game/_combat.html" %}
          {% elif player.status == 'a' %}

            {% include "game/_adventure.html" %}
          {% else %}
            <a class="btn btn-warning" href="{% url "game:play" %}">Find something to punch (1 AP)</a>
            <a class="btn btn-default" href="{% url "game:map" %}">Return to the City</a>
          {% endif %}

        </div>

        <div class="col-md-3">
          {% if enemy %}
            {% enemy_mini_profile enemy %}
          {% endif %}
        </div>
      </div>

{% endblock content %}
