 <table class="table table-hover">
   <thead>
    <tr>
      <th class="table-inventory-header">Item Name</th>
      <th class="table-inventory-header item-options">Options</th>
    </tr>
  </thead>
   {% for item in items %}
    <tr>
      <td class="item-name">
        <i class="mdi {{ item.item_type.icon }}"></i>
        {{ item }}
        {% if item.remaining_uses > 0 %}
          (x{{ item.remaining_uses }})
        {% endif %}
      </td>
      <td class="item-options">
        [
          <a class="text-info" href="#" data-toggle="modal" data-target="#itemModal{{ item.pk }}">Examine</a> |
          <a class="text-success" href="{% url "player:use" item.id %}">{{ item.display_verb|title }}</a> |
          <a class="text-danger" href="{% url "player:drop" item.id %}">Drop</a>
        ]
        {% include "player/_item_modal.html" %}
      </td>
    </tr>
  {% empty %}
     <tr>
      <td colspan="2" class="item-name">
        Empty
      </td>
    </tr>
  {% endfor %}
 </table>
