 <table class="table table-hover">
   <thead>
    <tr>
      <th class="table-inventory-header">Skill</th>
      <th class="table-inventory-header numeric">Hit %</th>
      <th class="table-inventory-header numeric">Damage</th>
      <th class="table-inventory-header numeric">Crit %</th>
      <th class="table-inventory-header numeric">Multiplier</th>
      <th class="table-inventory-header numeric">Energy</th>
      <th class="table-inventory-header item-options">Options</th>
    </tr>
  </thead>
   {% for player_skill in skills %}
    <tr>
      <td class="item-name">
        {{ player_skill }}</td>
      <td class="numeric">{{ player_skill.hit_percentage }}%</td>
      <td class="numeric">{{ player_skill.display_damage }}</td>
      <td class="numeric">{{ player_skill.critical_percentage }}%</td>
      <td class="numeric">{{ player_skill.critical_multipler }}</td>
      <td class="numeric">{{ player_skill.energy_cost }}</td>

      <td class="item-options">
        [&nbsp;<a class="text-info" href="#" data-toggle="modal" data-target="#skillModal{{ player_skill.pk }}">More&nbsp;Info</a>&nbsp;]
        {% include "player/_skill_modal.html" %}
      </td>
    </tr>
  {% empty %}
     <tr>
      <td colspan="2" class="item-name">
        Empty
      </td>
    </tr>
  {% endfor %}
 </table>

