{% load staticfiles i18n %}
{% load apps_player %}
{% load apps_game %}

{% status_bar 'Health' player.current_health player.total_health 'progress-bar-danger' %}
{% status_bar 'Energy' player.current_energy player.total_energy 'progress-bar-success' %}


<table class="table table-striped">
  <tr>
    <td class="player-stats-title">Current Occupation:</td>
    <td class="player-stats-numbers">Professional Puncher</td>
  </tr>
  <tr>
    <td class="player-stats-title">Previous Occupation:</td>
    <td class="player-stats-numbers">{{ player.previous_occupation }}</td>
  </tr>
  <tr>
    <td class="player-stats-title">Action Points:</td>
    <td class="player-stats-numbers">{{ player.punches }}</td>
  </tr>
  <tr>
    <td class="player-stats-title">Gender:</td>
    <td class="player-stats-numbers">{{ player.get_gender_display }}</td>
  </tr>
</table>


<div class="col-lg-6">
  <div class="alert alert-danger">
    <h4 class="text-center">{{ player.effective_power }}</h4>
    <div class="text-center">Power</div>
  </div>
</div>

<div class="col-lg-6">
  <div class="alert alert-info">
    <h4 class="text-center">{{ player.effective_technique }}</h4>
    <div class="text-center">Technique</div>
  </div>
</div>

<div class="col-lg-6">
  <div class="alert alert-warning">
    <h4 class="text-center">{{ player.effective_endurance }}</h4>
    <div class="text-center">Endurance</div>
  </div>
</div>

<div class="col-lg-6">
  <div class="alert alert-success">
    <h4 class="text-center">{{ player.effective_armor }}</h4>
    <div class="text-center">Armor</div>
  </div>
</div>
