{% load staticfiles i18n %}
{% load apps_player %}
{% load apps_game %}

{% status_bar 'Health' player.current_health player.total_health 'progress-bar-danger' %}
{% status_bar 'Energy' player.current_energy player.total_energy 'progress-bar-success' %}

<table class="table table-striped">
  <tr>
    <td class="player-stats-title">Armor:</td>
    <td class="player-stats-numbers">{{ player.effective_armor }}</td>
  </tr>
  <tr>
    <td class="player-stats-title">Power:</td>
    <td class="player-stats-numbers">{{ player.effect_power }} ({{ player.power }})</td>
  </tr>
  <tr>
    <td class="player-stats-title">Technique:</td>
    <td class="player-stats-numbers">{{ player.effect_technique }} ({{ player.technique }})</td>
  </tr>
  <tr>
    <td class="player-stats-title">Endurance:</td>
    <td class="player-stats-numbers">{{ player.effect_endurance }} ({{ player.endurance }})</td>
  </tr>
  <tr>
    <td class="player-stats-title">Current Occupation:</td>
    <td class="player-stats-numbers">Professional Puncher</td>
  </tr>
  <tr>
    <td class="player-stats-title">Previous Occupation:</td>
    <td class="player-stats-numbers">{{ player.previous_occupation }}</td>
  </tr>
  <tr>
    <td class="player-stats-title">Action Points:</td>
    <td class="player-stats-numbers">{{ player.punches }}</td>
  </tr>
  <tr>
    <td class="player-stats-title">Gender:</td>
    <td class="player-stats-numbers">{{ player.get_gender_display }}</td>
  </tr>
  <tr>
    <td class="player-stats-title">Pixels:</td>
    <td class="player-stats-numbers">{{ player.pixels }} <i class="mdi mdi-vector-arrange-below"></i> </td>
  </tr>
</table>
