<div class="page-header">Buy</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Item</th>
      <th style="text-align: right;">Cost</th>
      <th style="text-align: right;"></th>
    </tr>
  </thead>
  <tbody>
    {% for item in location.items.all %}
      <tr>
        <td>{{ item.item_type.name }}</td>
        <td style="text-align: right;">
          {{ item.price }}
          {% if item.currency == 'P' %}
            <i class="mdi mdi-coin" data-toggle="tooltip" title="Pixels" data-placement="right"></i>
          {% else %}
            <i class="mdi mdi-diamond" data-toggle="tooltip" title="MegaPixels" data-placement="right"></i>
          {% endif %}
        </td>
        <td style="text-align: right;"><a class="btn btn-sm btn-success" href="{% url "location:purchase" location.pk item.pk %}">Buy</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
