{% extends "base.html" %}
{% load staticfiles i18n %}
{% load apps_player %}
{% load apps_npc %}
{% load apps_enemy %}
{% load apps_game %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
      {% mini_profile request.user %}
    </div>

    <div class="col-md-6">
      <div>
          <img src="{% static location.icon %}" align="left">
      </div>
      <div class="page-header">
        <h1>
          <i class="text-info mdi {{ location.icon }}"></i>{{ location.name }}</h1>

        <p>{{ location.description }}</p>
      </div>

      {% show_messages player %}

      {% if location.location_type == 'SHP' %}
        {% include "location/_selling.html" %}
      {% endif %}

      {% if location.location_type == 'MED' %}
        {% include "location/_services.html" %}
      {% endif %}

      {% if location.location_type == 'HOM' %}
        {% include "location/_home.html" %}
      {% endif %}

      {% if location.location_type == 'CAS' %}
        {% include "location/_casino.html" %}
      {% endif %}

      {% if location.location_type == 'PWN' %}
        {% include "location/_pawn.html" %}
      {% endif %}

      <a href="{% url "game:map" %}" class="btn btn-primary btn-sm pull-right">Return to the city</a>
    </div>

    {% if location.npc %}
    <div class="col-md-3">
      {% npc_profile location relationship %}
    </div>
    {% endif %}

  </div>
{% endblock content %}
