{% extends "base.html" %}
{% load staticfiles i18n %}

{% block content %}
  <div class="row">

    <div class="jumbotron">
      <h1>Pixel Puncher</h1>
      <p>
        Want to explore endless dungeons? Want to discover unique treasure? Want to face epic challenges?
        Then look somewhere else! Want a turn based combat game about punching stuff? Play Pixel Puncher!
      </p>
      <p><a href="{% url 'account_signup' %}" class="btn btn-primary btn-lg">Play Now!</a></p>
    </div>

    <div>
        Warning: This game depicts extreme violence against inanimate objects.
        No vegetables were harmed in the making of this game.
    </div>




  </div>
{% endblock content %}
