{% load staticfiles i18n %}
{% load apps_player %}

<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Pixel Puncher{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">


    <!-- Your stuff: Third-party css libraries go here -->
    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.4.57/css/materialdesignicons.min.css">

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/superhero.css' %}" rel="stylesheet">
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}

    {% block angular %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    {% endblock %}

  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">

          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a href="/" class="navbar-brand"><img src="{% static 'images/logo.png' %}"></a>
        </div>

        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            {% if request.user.is_authenticated %}
              <li><a href="{% url "game:map" %}">Play</a></li>
              {% if player %}
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="player">Player
                  {% if player.attribute_points > 0 %}<span class="badge">{{ player.attribute_points }}</span>{% endif %}
                </a>
                <ul class="dropdown-menu" aria-labelledby="player">
                  <li><a href="{% url "player:detail" player.pk %}">Character</a></li>
                  <li><a href="{% url 'users:detail' request.user.username  %}">Account</a></li>
                  <li><a href="{% url "player:avatar" %}">Change Avatar</a></li>
                  {% if player.attribute_points > 0 %}
                    <li><a href="{% url "player:spend" player.pk %}">Spend Attribute points</a></li>
                  {% endif %}
                </ul>
              </li>
              {% endif %}
            {% endif %}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="community">Community</a>
              <ul class="dropdown-menu" aria-labelledby="community">
                <li><a href="{% url "player:top_punchers" %}">Top Punchers</a></li>
                <li><a href="">Player List</a></li>
                <li><a href="">Forums</a></li>
              </ul>
            </li>

            {% if request.user.is_authenticated %}
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="cheats">Cheats</a>
                <ul class="dropdown-menu" aria-labelledby="cheats">
                  <li><a href="{% url "game:reset" %}">Reset Health/Energy/Turns</a></li>
                  <li><a href="{% url "game:daily_reset" %}">Daily reset</a></li>
                  <li class="divider"></li>
                  <li><a href="{% url "game:levels" %}">Level XP Breakdown</a></li>
                </ul>
              </li>
            {% endif %}
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
              <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
            {% else %}
              <li><a id="sign-up-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
              <li><a id="log-in-link" href="{% url 'account_login' %}">{% trans "Log In" %}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <div class="m-b">
      <nav class="navbar navbar-dark navbar-static-top bg-inverse">
        <div class="container">
        </div>
      </nav>
    </div>

    <div class="container-fluid">

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}
        <p></p>
      {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      <!-- Latest JQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->
      <script src="{% static 'js/jquery.shuffleLetters.js' %}"></script>
      <script src="{% static 'js/typed.js' %}"></script>
      <script src="{% static 'js/jquery.cookie.js' %}"></script>
      <script src="{% static 'js/ajax-cookies.js' %}"></script>

      <!-- place project specific Javascript in this file -->
      <script src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}

    {% block additional-js %}
  {% endblock additional-js %}
  </body>
</html>

