{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
  {% if object == request.user %}
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><i class="mdi mdi-account-box"></i>  Account Info</h3>
            </div>
            <div class="panel-body">
              <h3>{{ object.username }}</h3>
              {% if object.name %}
                <p>{{ object.name }}</p>
              {% endif %}

              {% if user.emailaddress_set.all %}
                {% for emailaddress in user.emailaddress_set.all %}
                  <div class="ctrlHolder">
                    Email: {{ emailaddress.email }}
                    {% if emailaddress.verified %}
                      <span class="verified text-success"><i class="mdi mdi-checkbox-marked-circle"></i> Verified</span>
                    {% else %}
                      <span class="unverified text-danger"><i class="mdi mdi-emoticon-sad"></i> Unverified</span>
                    {% endif %}
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock content %}
